@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

@font-face {
    font-family: 'capture-it';
    src: url('./fonts/Capture-it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: capture-it, Roboto, sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}


img {
    max-width: 90%;
}

.banner-short{
    display: none;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    margin: 2em 10%;
    height: auto;
    padding: 1em;
    border-radius: 15px 15px 0px 0px;
    background-color: color-mix(in srgb, cornflowerblue 66%, transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links {
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    row-gap: 0.5em;
}

    .links a {

        border-radius: 10px;
        color: black;
        font-weight: 500;
        font-family: capture-it;
        font-size: 30px;
        line-height:1em;
        padding: 0.2em;
    }

    .links a:hover, .links a:active, .links .active {
        background-color: slategrey;
        color: white;
    }

.page-cont {
    background-color: color-mix(in srgb, lightslategray 25%, transparent);
    margin: -2em 10% 2em 10%;
    padding: 0em 2em 2em 2em;
    border-radius: 0px 0px 15px 15px;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    align-items: flex-start;
}

.left-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 0em;
    flex-wrap: wrap;
    flex:1 1 600px;
}

.right-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 0em;
    flex-wrap: wrap;
    flex: 1 1 200px;
}

.headline {
    text-align: center;
    background-color: color-mix(in srgb, cornflowerblue 66%, transparent);
    border-radius: 10px 10px 0px 0px;
    width: 95%;
    padding: 0.5em 1em;
    margin: 1em 0em 0em 0em;
}

.message {
    background-color: color-mix(in srgb, cornflowerblue 15%, transparent);
    border-radius: 0px 0px 10px 10px;
    width: 95%;
    margin: 0em 0.5em 0em 0.5em;
    padding: 1.5em 1em;
}

.server-widgets{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 4em;
    row-gap: 0em;
}

    .server-widgets p {
        font-family: capture-it;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 500;
        text-align: center;
        width: 500px;
        background-color: color-mix(in srgb, cornflowerblue 33%, transparent);
        margin: 0.5;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-radius: 10px;
    }

    .server-widgets iframe{
        width: 500px;
        max-width: 95%;
        margin-top: 10px;
    }

.footer {
    margin-top: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 10%;
    padding-left: 10%;
    background-color: color-mix(in srgb, cornflowerblue 33%, transparent);
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

    .footer .left-cont {
        width:50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-shrink:1;
    }

    .footer .left-cont img{
        max-height: 40px;
        margin-top:0.5em;
    }

    .footer .right-cont {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-size:14px;
        text-decoration-line: underline;
        flex-shrink:1;
    }

@media screen and (max-width: 600px) {
.banner {
    display: none;
}

.banner-short {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width:200px;
}


.links {
    margin-top: .5em;
    color: black;
    font-weight: 500;
    font-family: capture-it;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3em;
    row-gap: 0;
}

    .links a {
        padding: 0.5em;
        border-radius: 5px;
        color: black;
        font-weight: 300;
        font-family: capture-it;
        font-size: 30px;
        line-height:10px;
    }

}